#
# sonde_match .gitignore
#

# rtp files
*.rtp

# tex & docs
*.aux
*.toc
*.snm
*.nav
*.out
*.vrb
*.pdf
*.png
*.fig

# archives and packages
*.gz
*.tgz
*.tar
*.zip
*.bz2

# libs and object files
*.a
*.o
*.so
*.mexa64

# backup files
*.svn
*.bak
*~

LIN/*
!LIN/*.m
